{% extends 'admin/admin_base.html' %}

{% block title %}
    Blog -帮助
{% endblock %}

{% block admin_content %}
<div class="entry-box">
    <h4><strong>Blog帮助页面</strong></h4>
    <hr/>
    <h5 style="color: #337ab7"><strong>1.Blog是什么？</strong></h5>
    <p>
        &nbsp;&nbsp;&nbsp;Blog是一个开源的个人博客系统，其采用Web框架为Flask，
        有如下主要特点：
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.简洁的用户界面，使用前端框架为Bootstrap，支持响应式
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.强大的后台管理功能，一旦部署完成，即可轻松管理你的博客
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.通俗易懂的源代码，代码不会很复杂，方便阅读和理解
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;由于其具有以上特点，因此使用Blog来作为个人博客平台，是一个非常不错的选择！
    </p>
    <h5 style="color: #337ab7"><strong>2.Blog免费吗？</strong></h5>
    <p>
        &nbsp;&nbsp;&nbsp;Blog是开源的，所以绝对是免费的，并且你不用担心任何版权问题，因此你可以在GitHub上获得它的全部源代码，
        并进行修改和扩展开发。
    </p>
    <h5 style="color: #337ab7"><strong>3.如何获得Blog的帮助与支持？</strong></h5>
    <p>
        &nbsp;&nbsp;&nbsp;本着自由与分享的精神，作者不仅将Blog分享给大家，同时撰写了较为详尽的完整部署文档，
        并且无偿提供技术支持，你可以在后面给出的链接地址中得到相关信息。
    </p>
    <h5 style="color: #337ab7"><strong>4.相关链接</strong></h5>
    <p>Blog源码地址：<a href="https://github.com/xpleaf/Blog_mini" target="_blank">https://github.com/xpleaf/Blog_mini</a></p>
    <p>个人社交博客系统：<a href="https://flasky-mini.herokuapp.com" target="_blank">https://flasky-mini.herokuapp.com</a></p>
</div>
{% endblock %}